<a href="https://colab.research.google.com/github/camerontruong/ARA-READABILITY/blob/main/ACF5510_Week9_Monday6pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Love Calulator:
You are going to write a program that tests the compatibility between two people.

To work out the love score between two people:

Take both people's names and check for the number of times the letters in the word TRUE occurs. Then check for the number of times the letters in the word LOVE occurs. Then combine these numbers to make a 2 digit number.

For Love Scores less than 10 or greater than 90, the message should be:

"Your score is **x**, you go together like coke and mentos."

For Love Scores between 40 and 50, the message should be:

"Your score is **y**, you are alright together."

Otherwise, the message will just be their score. e.g.:

"Your score is **z**."

Example Input 1
name1 = "Kanye West"
name2 = "Kim Kardashian"
Example Output 1
Your score is 42, you are alright together.
Example Input 2
name1 = "Brad Pitt"
name2 = "Jennifer Aniston"
Example Output 2
Your score is 73.

In [5]:
#true love
print("Welcome to the Love Score Calculator")
name1= input("What is your name? \n")
name2= input("What is your crush's name? \n")

name1=name1.lower()
name2=name2.lower()

t = name1.count("t")+name2.count("t")
r = name1.count("r")+name2.count("r")
u = name1.count("u")+name2.count("u")
e = name1.count("e")+name2.count("e")

l = name1.count("l")+name2.count("l")
o = name1.count("o")+name2.count("o")
v = name1.count("v")+name2.count("v")
e = name1.count("e")+name2.count("e")

number1 = t+r+u+e
number2 = l+o+v+e

score=str(number1)+str(number2)
score=int(score)

if score<10 or score>90:
  print(f"Your love score is {score}, you go together like coke and mentos.")
elif score>40 and score<50:
  print(f"Your love score is {score}, you are alright together.")
else:
  print(f"Your love score is {score}.")

# print(score)

Welcome to the Love Score Calculator
What is your name?
Christiano Ronaldo
What is your crush's name?
Mary Walsh
Your love score is 45, you are alright together.

In [9]:
# ðŸš¨ Don't change the code below ðŸ‘‡
number = int(input("Which number do you want to check? "))
# ðŸš¨ Don't change the code above ðŸ‘†
check = number%2
if check==0:
  print(f"This {number} is an even number.")
else:
  print(f"This {number} is an odd number.")

Which number do you want to check? 22
This 22 is an even number.

LOOPS

In [17]:
odd_sum = 0
for i in range(1,100000001):
  if i%2==1:
    odd_sum +=i

print(odd_sum)

2500000000000000

In [19]:
i=1
odd_sum = 0
while i<=100:
  if i%2==1:
    odd_sum+=i
  i+=1

print(odd_sum)

2500

Instructions
You are going to write a program that automatically prints the solution to the FizzBuzz game.

Your program should print each number from 1 to 100 in turn.

When the number is divisible by 3 then instead of printing the number it should print "Fizz".

`When the number is divisible by 5, then instead of printing the number it should print "Buzz".` 
`When the number is divisible by 5, then instead of printing the number it should print "Buzz".` 
  `And if the number is divisible by both 3 and 5 e.g. 15 then instead of the number it should print "FizzBuzz"`
  `And if the number is divisible by both 3 and 5 e.g. 15 then instead of the number it should print "FizzBuzz"`
e.g. it might start off like this:

`1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz`
`1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz`
.... etc.

Hint
Remember your answer should start from 1 and go up to and including 100.

In [ ]:
#FIZZBUZZ
#Write your code below this row ðŸ‘‡
for number in range(1,101):
  if number%3==0:
    if number%5==0:
      print("FizzBuzz")
    else:
      print("Fizz")
  elif number%5==0:
    print("Buzz")
  else:
    print(number)

LIST

In [28]:
fruits = ["apple", "banana","melon"]
type(fruits)
fruits[2]

'melon'

In [29]:
fruits.append("mango")
fruits

['apple', 'banana', 'melon', 'mango']

In [30]:
fruits.remove("banana")
fruits

['apple', 'melon', 'mango']

In [31]:
fruits.index("melon")

1

In [ ]:
numbers = []
for i in range(1, 101):
  if i%2==1:
    numbers.append(i)
numbers

In [38]:
# Split string method
names_string = input("Give me everybody's names, separated by a comma. ")
print(names_string)
names = names_string.split(", ")
names

import random
payer= random.choice(names)
print(f"The payer for dinner is {payer}")

Give me everybody's names, separated by a comma. Cameron, Alvin, Amy, Maya, Russell, Joey, Chris, Lucy
Cameron, Alvin, Amy, Maya, Russell, Joey, Chris, Lucy
The payer for dinner is Joey

In [63]:
#Password Generator Project
import random
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

# 6 letters, 4 numbers, 3 symbols
password = []

for i in range(1,7):
  password.append(random.choice(letters))

for i in range(1,5):
  password.append(random.choice(numbers))

for i in range(1,4):
  password.append(random.choice(symbols))

random.shuffle(password)
password
p="".join(password)
print(f"Your password could be {p}")

Your password could be th$Bz509X7l&(

In [64]:
!pip install pdfplumber
import requests
import pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.5.28.tar.gz (45 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45 kB 1.5 MB/s
Collecting pdfminer.six==20200517
  Downloading pdfminer.six-20200517-py3-none-any.whl (5.6 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5.6 MB 7.6 MB/s
Requirement already satisfied: Pillow>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (7.1.2)
Collecting Wand
  Downloading Wand-0.6.7-py2.py3-none-any.whl (139 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 139 kB 53.7 MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (2.4.0)
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (3.0.4)
Collecting pycryptodome
  Downloading pycryptodome-3.10.1-cp35-abi3-manylinux2010_x86_64.whl (1.9 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.9 MB 40.3 MB/s
Building wheels for collected packages: pdfplumber
  Building wheel for pdfplumber (setup.py) ... done
  Created wheel for pdfplumber: filename=pdfplumber-0.5.28-py3-none-any.whl size=32240 sha256=54a9fd8187b3b9e79f6c9dddb2a2a6e147a0711cdb2f31ee855a49f2e95b4c49
  Stored in directory: /root/.cache/pip/wheels/f2/b1/a0/c0a77b756d580f53b3806ae0e0b3ec945a8d05fca1d6e10cc1
Successfully built pdfplumber
Installing collected packages: pycryptodome, Wand, pdfminer.six, pdfplumber
Successfully installed Wand-0.6.7 pdfminer.six-20200517 pdfplumber-0.5.28 pycryptodome-3.10.1

In [66]:
invoice_url = 'http://www.k-billing.com/example_invoices/professionalred_example.pdf'
with requests.get(invoice_url) as r:
  with open("sample_invoice.pdf", "wb") as file:
    file.write(r.content)

In [70]:
with pdfplumber.open("sample_invoice.pdf") as pdf:
  page=pdf.pages[0]
  text=page.extract_text()

print(text)

Demo Company INVOICE
Invoice No. I1083
Demo Company
Account # C1006
1234 Main Street
Date 08-14-2008
Ashland, KY 41102
Due By 08-31-2008
Terms None
Phone : 111-222-3333 PO No. PO1234
E-Mail : 333-444-4444 Sales Rep SalesPerson1
Web : http://www.ksoftware.net
Bill To Ship To
Test Customer Test Customer
1234 Main Street 1234 Main Street
Ashland, KY 41101 Ashland,  41101
Code Description QTY Price T Line Total
SKU1222 Test Import Name - Description Goes Here 1 $10.00 Y $10.00
Labor - Example labor item. Quantity is number of hours  1.5 $100.00 N $150.00
spent, price is hourly rate. Quantity accepts decimal values.
Shipping $10.00 Tax $0.78 Subtotal $160.00
UPS Ground Total $170.78
Payments (-) $0.00
An invoice note can go here. Multi-line and even multi-page notes are supported. Balance Due $170.78
An invoice footer can go here

In [73]:
data = text.split("\n")
len(data)
data

['Demo Company INVOICE',
 'Invoice No. I1083',
 'Demo Company',
 'Account # C1006',
 '1234 Main Street',
 'Date 08-14-2008',
 'Ashland, KY 41102',
 'Due By 08-31-2008',
 'Terms None',
 'Phone : 111-222-3333 PO No. PO1234',
 'E-Mail : 333-444-4444 Sales Rep SalesPerson1',
 'Web : http://www.ksoftware.net',
 'Bill To Ship To',
 'Test Customer Test Customer',
 '1234 Main Street 1234 Main Street',
 'Ashland, KY 41101 Ashland,  41101',
 'Code Description QTY Price T Line Total',
 'SKU1222 Test Import Name - Description Goes Here 1 $10.00 Y $10.00',
 'Labor - Example labor item. Quantity is number of hours  1.5 $100.00 N $150.00',
 'spent, price is hourly rate. Quantity accepts decimal values.',
 'Shipping $10.00 Tax $0.78 Subtotal $160.00',
 'UPS Ground Total $170.78',
 'Payments (-) $0.00',
 'An invoice note can go here. Multi-line and even multi-page notes are supported. Balance Due $170.78',
 'An invoice footer can go here']

In [82]:
for item in data:
  if 'Phone' in item:
    phone=item.split("Phone : ")[-1].split()[0]
    print(phone)

111-222-3333

In [85]:
for item in data:
  if 'Web' in item:
    website=item.split("Web : ")[-1]
    print(website)

http://www.ksoftware.net

In [88]:
# Grab Balance Due $170.78, but just the number
for item in data:
  if "Balance Due" in item:
    balance=item.split("Balance Due")[-1]
    print(balance)

 $170.78

In [91]:
for item in data:
  if "Account #" in item:
    account=item.split("Account #")[-1]
    print(account)

 C1006

In [92]:
sample_url = 'https://investor.qantas.com/FormBuilder/_Resource/_module/doLLG5ufYkCyEPjF1tpgyw/file/annual-reports/2020-Annual-Report-ASX.pdf'
with requests.get(sample_url) as r:
  with open('Qantas2020.pdf', 'wb') as file:
    file.write(r.content)

In [93]:
fulltext = ""

with pdfplumber.open('Qantas2020.pdf') as pdf:
    for page in pdf.pages:
      text = page.extract_text()
      fulltext+=text
      print(f"Extracting page {page}")

Extracting page <Page:1>
Extracting page <Page:2>
Extracting page <Page:3>
Extracting page <Page:4>
Extracting page <Page:5>
Extracting page <Page:6>
Extracting page <Page:7>
Extracting page <Page:8>
Extracting page <Page:9>
Extracting page <Page:10>
Extracting page <Page:11>
Extracting page <Page:12>
Extracting page <Page:13>
Extracting page <Page:14>
Extracting page <Page:15>
Extracting page <Page:16>
Extracting page <Page:17>
Extracting page <Page:18>
Extracting page <Page:19>
Extracting page <Page:20>
Extracting page <Page:21>
Extracting page <Page:22>
Extracting page <Page:23>
Extracting page <Page:24>
Extracting page <Page:25>
Extracting page <Page:26>
Extracting page <Page:27>
Extracting page <Page:28>
Extracting page <Page:29>
Extracting page <Page:30>
Extracting page <Page:31>
Extracting page <Page:32>
Extracting page <Page:33>
Extracting page <Page:34>
Extracting page <Page:35>
Extracting page <Page:36>
Extracting page <Page:37>
Extracting page <Page:38>
Extracting page <Page:39>
Extracting page <Page:40>
Extracting page <Page:41>
Extracting page <Page:42>
Extracting page <Page:43>
Extracting page <Page:44>
Extracting page <Page:45>
Extracting page <Page:46>
Extracting page <Page:47>
Extracting page <Page:48>
Extracting page <Page:49>
Extracting page <Page:50>
Extracting page <Page:51>
Extracting page <Page:52>
Extracting page <Page:53>
Extracting page <Page:54>
Extracting page <Page:55>
Extracting page <Page:56>
Extracting page <Page:57>
Extracting page <Page:58>
Extracting page <Page:59>
Extracting page <Page:60>
Extracting page <Page:61>
Extracting page <Page:62>
Extracting page <Page:63>
Extracting page <Page:64>
Extracting page <Page:65>
Extracting page <Page:66>
Extracting page <Page:67>
Extracting page <Page:68>
Extracting page <Page:69>
Extracting page <Page:70>
Extracting page <Page:71>
Extracting page <Page:72>
Extracting page <Page:73>
Extracting page <Page:74>
Extracting page <Page:75>
Extracting page <Page:76>
Extracting page <Page:77>
Extracting page <Page:78>
Extracting page <Page:79>
Extracting page <Page:80>
Extracting page <Page:81>
Extracting page <Page:82>
Extracting page <Page:83>
Extracting page <Page:84>
Extracting page <Page:85>
Extracting page <Page:86>
Extracting page <Page:87>
Extracting page <Page:88>
Extracting page <Page:89>
Extracting page <Page:90>
Extracting page <Page:91>
Extracting page <Page:92>
Extracting page <Page:93>
Extracting page <Page:94>
Extracting page <Page:95>
Extracting page <Page:96>
Extracting page <Page:97>
Extracting page <Page:98>
Extracting page <Page:99>
Extracting page <Page:100>
Extracting page <Page:101>
Extracting page <Page:102>
Extracting page <Page:103>
Extracting page <Page:104>
Extracting page <Page:105>
Extracting page <Page:106>
Extracting page <Page:107>
Extracting page <Page:108>
Extracting page <Page:109>
Extracting page <Page:110>
Extracting page <Page:111>
Extracting page <Page:112>
Extracting page <Page:113>
Extracting page <Page:114>
Extracting page <Page:115>
Extracting page <Page:116>
Extracting page <Page:117>
Extracting page <Page:118>
Extracting page <Page:119>
Extracting page <Page:120>
Extracting page <Page:121>
Extracting page <Page:122>
Extracting page <Page:123>
Extracting page <Page:124>
Extracting page <Page:125>
Extracting page <Page:126>
Extracting page <Page:127>
Extracting page <Page:128>
Extracting page <Page:129>
Extracting page <Page:130>
Extracting page <Page:131>
Extracting page <Page:132>
Extracting page <Page:133>
Extracting page <Page:134>
Extracting page <Page:135>
Extracting page <Page:136>
Extracting page <Page:137>
Extracting page <Page:138>

In [ ]:
print(fulltext)

In [101]:
search_words = ["total", "qantas", "revenue", "sustainability", "tax"]

for word in search_words:
  count = fulltext.lower().count(word)
  print(f"The number of counts of {word} is {count}")

The number of counts of total is 234
The number of counts of qantas is 891
The number of counts of revenue is 239
The number of counts of sustainability is 3
The number of counts of tax is 257

In [103]:
data = fulltext.split("\n")
len(data)

7281

In [104]:
for item in data:
  if 'sustainability' in item.lower():
    print(item)

Material business risks arising from COVID-19, notably liquidity risks, are being critically managed to ensure the ongoing sustainability
The Qantas Group is committed to environmental sustainability with high standards for environmental performance. The Board places
Material business risks arising from COVID-19, notably liquidity risks, are being critically managed to ensure the ongoing sustainability