<a href="https://colab.research.google.com/github/camerontruong/ARA-READABILITY/blob/main/ACF5510_Week9_Thursday6pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOPs

In [5]:
# ðŸš¨ Don't change the code below ðŸ‘‡
number = int(input("Which number do you want to check? "))
# ðŸš¨ Don't change the code above ðŸ‘†

#Write your code below this line ðŸ‘‡
check = number%2
if check != 1:
  print("This is an even number")
else:
  print("This is an odd number")

Which number do you want to check? 555
This is an odd number

In [14]:
odd_sum =0

for i in range(1, 100000001):
  if i%2==1:
    odd_sum += i

print(odd_sum)

#add all i if it is an odd number
#then print the sum

2500000000000000

In [17]:
i=1
odd_sum =0

while i<=100:
  if i%2==1:
    odd_sum +=i
  i+=1

print(odd_sum)

2500

LIST

In [22]:
fruits = ["apple","banana","mango"]
len(fruits)
fruits[2]
fruits.append("melon")
fruits

['apple', 'banana', 'mango', 'melon']

In [ ]:
fruits.remove("mango")
fruits

In [25]:
fruits.index("banana")

1

In [ ]:
odd_numbers = []
for i in range(1, 1001):
  if i%2==1:
    odd_numbers.append(i)

odd_numbers

In [32]:
# Split string method
names_string = input("Give me everybody's names, separated by a comma. ")
names = names_string.split(", ")

Give me everybody's names, separated by a comma. Cameron, Alvin, Amy, Maya, Russell, Joey, Chris, Lucy, EJ

In [33]:
import random
payer = random.choice(names)
print(f"The payer for meal is {payer}")

The payer for meal is Russell

In [44]:
#Password Generator Project
import random
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']


print("Welcome to the PyPassword Generator. Please let us know your preference")

n_letters = int(input("How many letters would you like in your password? \n"))
n_numbers = int(input("How many numbers would you like in your password? \n"))
n_symbols = int(input("How many symbols would you like in your password? \n"))


password =[]

for i in range(1,n_letters+1):
  password.append(random.choice(letters))

for i in range(1,n_numbers+1):
  password.append(random.choice(numbers))

for i in range(1,n_symbols+1):
  password.append(random.choice(symbols))

random.shuffle(password)
p = "".join(password)

print(password)
print(f" Your password as required could be {p}")

Welcome to the PyPassword Generator. Please let us know your preference
How many letters would you like in your password?
10
How many numbers would you like in your password?
5
How many symbols would you like in your password?
6
['4', '2', 'G', 'P', 'm', '8', '7', 'o', 'B', 'V', '%', 'q', '&', '(', 'q', '*', 'V', '4', '#', 'G', '(']
 Your password as required could be 42GPm87oBV%q&(q*V4#G(

Instructions
You are going to write a program that automatically prints the solution to the FizzBuzz game.

Your program should print each number from 1 to 100 in turn.

When the number is divisible by 3 then instead of printing the number it should print "Fizz".

`When the number is divisible by 5, then instead of printing the number it should print "Buzz".` 
`When the number is divisible by 5, then instead of printing the number it should print "Buzz".` 
  `And if the number is divisible by both 3 and 5 e.g. 15 then instead of the number it should print "FizzBuzz"`
  `And if the number is divisible by both 3 and 5 e.g. 15 then instead of the number it should print "FizzBuzz"`
e.g. it might start off like this:

`1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz`
`1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz`
.... etc.

In [54]:
fizz=[]
buzz=[]
fizzbuzz=[]

for i in range(1,100001):
  if i%3==0:
    if i%5==0:
      # print("FizzBuzz")
      fizzbuzz.append(i)
    else:
      # print("Fizz")
      fizz.append(i)
  elif i%5==0:
    # print("Buzz")
    buzz.append(i)
  else:
    pass
    # print(i)
    
    
print(f"There are {len(fizz)} fizz, {len(buzz)} buzz, and {len(fizzbuzz)} fizzbuzz")

There are 26667 fizz, 13334 buzz, and 6666 fizzbuzz

In [55]:
!pip install pdfplumber
import requests
import pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.5.28.tar.gz (45 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45 kB 1.8 MB/s
Collecting pdfminer.six==20200517
  Downloading pdfminer.six-20200517-py3-none-any.whl (5.6 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5.6 MB 7.8 MB/s
Requirement already satisfied: Pillow>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (7.1.2)
Collecting Wand
  Downloading Wand-0.6.7-py2.py3-none-any.whl (139 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 139 kB 48.3 MB/s
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (3.0.4)
Collecting pycryptodome
  Downloading pycryptodome-3.10.1-cp35-abi3-manylinux2010_x86_64.whl (1.9 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.9 MB 33.9 MB/s
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20200517->pdfplumber) (2.4.0)
Building wheels for collected packages: pdfplumber
  Building wheel for pdfplumber (setup.py) ... done
  Created wheel for pdfplumber: filename=pdfplumber-0.5.28-py3-none-any.whl size=32240 sha256=ac7e3fc93377524509f419a1e88eee1456067ae34a82039609f6cd141cbb3d6e
  Stored in directory: /root/.cache/pip/wheels/f2/b1/a0/c0a77b756d580f53b3806ae0e0b3ec945a8d05fca1d6e10cc1
Successfully built pdfplumber
Installing collected packages: pycryptodome, Wand, pdfminer.six, pdfplumber
Successfully installed Wand-0.6.7 pdfminer.six-20200517 pdfplumber-0.5.28 pycryptodome-3.10.1

In [56]:
invoice_url = 'http://www.k-billing.com/example_invoices/professionalred_example.pdf'
with requests.get(invoice_url) as r:
  with open("sample_invoice.pdf","wb") as file:
    file.write(r.content)

In [57]:
with pdfplumber.open("sample_invoice.pdf") as pdf:
  page=pdf.pages[0]
  text=page.extract_text()

In [60]:
print(text)

Demo Company INVOICE
Invoice No. I1083
Demo Company
Account # C1006
1234 Main Street
Date 08-14-2008
Ashland, KY 41102
Due By 08-31-2008
Terms None
Phone : 111-222-3333 PO No. PO1234
E-Mail : 333-444-4444 Sales Rep SalesPerson1
Web : http://www.ksoftware.net
Bill To Ship To
Test Customer Test Customer
1234 Main Street 1234 Main Street
Ashland, KY 41101 Ashland,  41101
Code Description QTY Price T Line Total
SKU1222 Test Import Name - Description Goes Here 1 $10.00 Y $10.00
Labor - Example labor item. Quantity is number of hours  1.5 $100.00 N $150.00
spent, price is hourly rate. Quantity accepts decimal values.
Shipping $10.00 Tax $0.78 Subtotal $160.00
UPS Ground Total $170.78
Payments (-) $0.00
An invoice note can go here. Multi-line and even multi-page notes are supported. Balance Due $170.78
An invoice footer can go here

In [63]:
data = text.split("\n")
data

['Demo Company INVOICE',
 'Invoice No. I1083',
 'Demo Company',
 'Account # C1006',
 '1234 Main Street',
 'Date 08-14-2008',
 'Ashland, KY 41102',
 'Due By 08-31-2008',
 'Terms None',
 'Phone : 111-222-3333 PO No. PO1234',
 'E-Mail : 333-444-4444 Sales Rep SalesPerson1',
 'Web : http://www.ksoftware.net',
 'Bill To Ship To',
 'Test Customer Test Customer',
 '1234 Main Street 1234 Main Street',
 'Ashland, KY 41101 Ashland,  41101',
 'Code Description QTY Price T Line Total',
 'SKU1222 Test Import Name - Description Goes Here 1 $10.00 Y $10.00',
 'Labor - Example labor item. Quantity is number of hours  1.5 $100.00 N $150.00',
 'spent, price is hourly rate. Quantity accepts decimal values.',
 'Shipping $10.00 Tax $0.78 Subtotal $160.00',
 'UPS Ground Total $170.78',
 'Payments (-) $0.00',
 'An invoice note can go here. Multi-line and even multi-page notes are supported. Balance Due $170.78',
 'An invoice footer can go here']

In [72]:
for item in data:
  if "Phone" in item:
    phone=item.split("Phone :")[-1].split()[0]
    print(phone)

111-222-3333

In [75]:
for item in data:
  if "Web" in item:
    web = item.split("Web :")[-1]
    print(web)

 http://www.ksoftware.net

In [78]:
for item in data:
  if "Balance Due" in item:
    balance=item.split("Balance Due")[-1]
    print(balance)

 $170.78

In [79]:
for item in data:
  if "Account #" in item:
    account=item.split("Account #")[-1]
    print(account)

 C1006

In [81]:
for item in data:
  if "Invoice No." in item:
    invoice=item.split("Invoice No.")[-1]
    print(invoice)

 I1083

In [82]:
sample_url = 'https://investor.qantas.com/FormBuilder/_Resource/_module/doLLG5ufYkCyEPjF1tpgyw/file/annual-reports/2020-Annual-Report-ASX.pdf'
with requests.get(sample_url) as r:
  with open('Qantas2020.pdf', 'wb') as file:
    file.write(r.content)

In [ ]:
fulltext = ""

with pdfplumber.open('Qantas2020.pdf') as pdf:
    for page in pdf.pages:
      text = page.extract_text()
      fulltext+=text
      print(f"Extracting page {page}")
     

fulltext

In [ ]:
print(fulltext)

In [86]:
data = fulltext.split("\n")
len(data)

7281

In [89]:
search_words = ["total", "qantas", "revenue", "sustainability", "tax","alan joyce"]

for word in search_words:
  count = fulltext.lower().count(word)
  print(f"Count of {word} is {count}")

Count of total is 234
Count of qantas is 891
Count of revenue is 239
Count of sustainability is 3
Count of tax is 257
Count of alan joyce is 18