<a href="https://colab.research.google.com/github/camerontruong/ARA-READABILITY/blob/main/ACF5510_Week8_Monday_6pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ACF5510 Week 8 Colab and Python script

In [4]:
print("Hello World. We are from ACF5510.")

Hello World. We are from ACF5510.

In [6]:
name = "Cameron Truong"
print(name)
name1 = "Alvin Truong"
print(name, name1)

Cameron Truong
Cameron Truong Alvin Truong

In [14]:
name = input("What's up. What is your name? ")
print(len(name))

What's up. What is your name? Cameron Truong
14

In [15]:
welcome_message = "My name is "+ name
print(welcome_message)

My name is Cameron Truong

Exercise: Group Name Generator
1) print out a message "Welcome to the Group Name Generator"
2) take an input that asks user "What's the name of the city you grew up in?"
3) take an input that asks user "What's your pet's name?"
4) print "Your group name could be" + city +pet

In [19]:
print("Welcome to the Group Name Generator")
city = input("What's the name of the city you grew up in? \n")
pet = input("What's your pet's name? \n")
print("Your group name could be "+city+" "+pet)

Welcome to the Group Name Generator
What's the name of the city you grew up in?
Melbourne
What's your pet's name?
Russell
Your group name could be Melbourne Russell

In [25]:
two_digit_number = input("Type a two digit number: ")

first_digit = int(two_digit_number[0])
second_digit = int(two_digit_number[1])
sum = first_digit+second_digit

print(sum)

Type a two digit number: 54
9

BMI calculator 
Print out bmi=weight/(height*height)

In [34]:
height = float(input("enter your height in m: "))
weight = int(input("enter your weight in kg: "))
bmi = int(weight/(height*height))
print(bmi)

enter your height in m: 1.76
enter your weight in kg: 72
23

String manipulation

In [50]:
name = "Cameron Truong"
# type(name)
# print(len(name))
# print(name[0])
print(name[8])

T

In [43]:
print(name.index("ron"))

4

In [49]:
print(name.split(" "))

['Cameron', 'Truong']

In [51]:
name = name.replace("Cameron","Cam")
print(name)

Cam Truong

In [56]:
name = "Cameron Truong"
print(name[:2])
print(name[8:])
print(name[:])

Ca
Truong
Cameron Truong

In [57]:
name =name.upper()
print(name)

CAMERON TRUONG

In [58]:
name = name.lower()
print(name)

cameron truong

In [59]:
name =name.title()
print(name)

Cameron Truong

In [60]:
name= "       Cameron Truong"
name=name.strip()
print(name)

Cameron Truong

In [62]:
name = "Cameron cameron Cameron Cameron Cameron Truong"
name =name.lower()
print(name.count("cameron"))

5

Your life in days, weeks, months exercise:
Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old.

It will take your current age as the input and output a message with our time left in this format:

You have x days, y weeks, and z months left.

Where x, y and z are replaced with the actual calculated numbers.

Warning your output should match the Example Output format exactly, even the positions of the commas and full stops.

Example Input
56
56
Example Output
You have 12410 days, 1768 weeks, and 408 months left.
You have 12410 days, 1768 weeks, and 408 months left.
e.g. When you hit run, this is what should happen:

In [66]:
age = int(input("What is your current age? "))

x = 32850 - age*365
y = 4680 - age*52
z = 1080 - age*12

print(f"You have {x} days, {y} weeks, {z} months left")

1080

Conditional statement

int() converts a string into an integer number.

In [83]:
student_age = int(input("What is students'age? "))
lecturer_age = int(input("What is lecturer's age? "))

if student_age<lecturer_age:
  print("Students are so young")
  print("It's great to be young")

elif student_age>lecturer_age and student_age>50:
  print("Wow, students should be corporate managers!")

elif student_age>lecturer_age:
  print("Students are so mature")
  print("It's great to be wise")

else:
  print("Students and lecturer are mates!")

What is students'age? 49
What is lecturer's age? 42
Students are so mature
It's great to be wise

BMI calculator version2.
Conditional statement exercise BMI 2.0 if BMI< 18.5, underweight if 18.5<=BMI <25, normal weight if 25<=bmi<30, overweight if 30<=BMI<35, obese if BMI>=35, clinicaly obese

In [86]:
height = float(input("enter your height in m: "))
weight = float(input("enter your weight in kg: "))

bmi = round(weight/(height*height),2)

if bmi<18.5:
  print(f"Your bmi is {bmi}, you are underweight")
elif bmi<25:
  print(f"Your bmi is {bmi}, you are normal weight")
elif bmi<30:
  print(f"Your bmi is {bmi}, you are overweight")
elif bmi<35:
  print(f"Your bmi is {bmi}, you are obese")
else:
  print(f"Your bmi is {bmi}, you are clinically obese")

enter your height in m: 1.76
enter your weight in kg: 180
Your bmi is 58.11, you are clinically obese