<a href="https://colab.research.google.com/github/camerontruong/ARA-READABILITY/blob/main/ACF5510_Week8_S1_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World. We are from ACF5510")

Hello World. We are from ACF5510

In [3]:
name = "Cameron Truong"
print(name)

name1 = "Alvin Truong"
print(name, name1)

Cameron Truong
Cameron Truong Alvin Truong

In [5]:
name = input("What is your name?")
print("Your name is " + name)

What is your name?Brad Pitt
Your name is Brad Pitt

In [7]:
print("What's up! Welcome to ACF5510")

welcome_message= "Our chief examiner in ACF5510 is " + name

print(welcome_message)

What's up! Welcome to ACF5510
Our chief examiner in ACF5510 is Brad Pitt

In [11]:
print("Welcome to Group Name Generator")
city=input("What is the name of the city where you grew up? ")
petname= input("What is your pet's name? ")
print("Your group name can be: " + city+" "+petname)

Welcome to Group Name Generator
What is the name of the city where you grew up? Shanghai
What is your pet's name? Aoli
Your group name can be: Shanghai Aoli

Exercise 1:
#Exercise: i) print "Welcome to Group Name Generator", ii) city, takes the input of the city where you grew up, "What is the name of the city where you grew up"
# iii), ask " What is your pet's name? "
#iv  print out " Your group name can be" + city + petname

In [18]:
two_digit_number = input("Please type a two digit number ")
first_digit = int(two_digit_number[0])
second_digit = int(two_digit_number[1])

sum= first_digit+second_digit
print(sum)

Please type a two digit number 98
17

Exercise 1:
1) Get the height of the user in m
2) Get the weight of the user in kg
3) bmi = weight/(height*height)
4) print out the bmi

In [24]:
height=float(input("Enter your height in meter: "))
weight=int(input("Enter your weight in kg: "))
bmi = weight/(height*height)
print(round(bmi,2))

Enter your height in meter: 1.76
Enter your weight in kg: 72
23.24

In [29]:
name = "Cameron Truong"
print(len(name))

print(name[8])
print(name.index("a"))
print(name.index("ron"))

14
T
1
4

In [30]:
name=name.replace("Cameron","Cam")
print(name)

Cam Truong

In [33]:
print(name[:3])
print(name[8:])

Cam
ng

In [34]:
name=name.upper()
print(name)

CAM TRUONG

In [35]:
name=name.lower()
print(name)

cam truong

In [37]:
name=name.title()
print(name)

Cam Truong

In [39]:
name =" Cameron cam cameron cameron Cameron CAmeron CAMeron  cameron cam truong TRUONG trg ACF5510"
name=name.lower()
print(name)
print(name.count("cameron"))

 cameron cam cameron cameron cameron cameron cameron  cameron cam truong truong trg acf5510
7

In [40]:
sustainability = " Qantas is highly concerned with sustainability issues. We have our own Sustainability manager and she looks after key sustainability strategies."
sustainability=sustainability.lower()
print(sustainability.count("sustainability"))

3

In [42]:
name = "           Cameron Truong"
print(name)
name=name.strip()
print(name)

           Cameron Truong
Cameron Truong

Exercise 3:
Your life in days, weeks, months exercise: Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old.

It will take your current age as the input and output a message with our time left in this format:

You have x days, y weeks, and z months left.

Where x, y and z are replaced with the actual calculated numbers.

Warning your output should match the Example Output format exactly, even the positions of the commas and full stops.

Example Input 56 56 Example Output You have 12410 days, 1768 weeks, and 408 months left. You have 12410 days, 1768 weeks, and 408 months left. e.g. When you hit run, this is what should happen:

In [49]:
age =int(input("What is your current age? \n"))

days_left = 32850-age*365
weeks_left= 4680 - age*52
months_left = 1080- age*12

print(f"You have {days_left} days, {weeks_left} weeks, and {months_left} months left. ")

What is your current age?
25
You have 23725 days, 3380 weeks, and 780 months left.

Conditional statement

In [51]:
age=int(input("What is your age \n"))
if age<35:
    print("You must be a student")
else:
    print("You must be a lecturer")

What is your age
21
You must be a student

In [54]:
student_age=int(input("What is the student's age? \n"))
lecturer_age=int(input("What is the lecturer's age? \n"))

if student_age< lecturer_age:
    print("Students are so young")
    print("Our lecturer is kinda young")
elif student_age>lecturer_age and student_age>50:
    print("Our student must be a corporate manager")

elif student_age>lecturer_age:
    print("Our lecturer is so young") 
    print("Our student is so mature")
else:
    print("Our student and our lecturer are mates!")

What is the student's age?
43
What is the lecturer's age?
43
Our student and our lecturer are mates!

In [62]:
height =  float(input("Please enter your height in meter: \n"))
weight= float(input("Please enter your weight in kg: \n"))
bmi = round(weight/(height*height),2)

if bmi<=18.5:
    print(f"Your bmi value is {bmi}, you are underweight")
elif bmi<25:
    print(f"Your bmi value is {bmi}, you are normal weight")
elif bmi<30:
    print(f"Your bmi value is {bmi}, you are overweight")
elif bmi<35:
    print(f"Your bmi value is {bmi}, you are obese")
else:
    print(f"Your bmi value is {bmi}, you are clinically obese")

Please enter your height in meter:
1.76
Please enter your weight in kg:
110
Your bmi value is 35.51, you are clinically obese

Love Calulator: You are going to write a program that tests the compatibility between two people.

To work out the love score between two people:

Take both people's names and check for the number of times the letters in the word TRUE occurs. Then check for the number of times the letters in the word LOVE occurs. Then combine these numbers to make a 2 digit number.

For Love Scores less than 10 or greater than 90, the message should be:

"Your score is x, you go together like coke and mentos."

For Love Scores between 40 and 50, the message should be:

"Your score is y, you are alright together."

Otherwise, the message will just be their score. e.g.:

"Your score is z."

Example Input 1 name1 = "Kanye West" name2 = "Kim Kardashian" Example Output 1 Your score is 42, you are alright together. Example Input 2 name1 = "Brad Pitt" name2 = "Jennifer Aniston" Example Output 2 Your score is 73.

In [66]:
print("Welcome to the Love Calculator")
name1=input("What is the name of the first person")
name2=input("What is the name of the second person")

name1=name1.lower()
name2=name2.lower()

t=name1.count("t")+name2.count("t")
r=name1.count("r")+name2.count("r")
u=name1.count("u")+name2.count("u")
e=name1.count("e")+name2.count("e")

l=name1.count("l")+name2.count("l")
o=name1.count("o")+name2.count("o")
v=name1.count("v")+name2.count("v")
e=name1.count("e")+name2.count("e")

n1=str(t+r+u+e)
n2=str(l+o+v+e)
score=n1+n2
score=int(score)

if score<10 and score>90:
    print(f"Your love score is {score}, you go together like coke and mentos.")
elif score>40 and score<50:
    print(f"Your love score is {score}, you are alright together")
else:
    print(f"Your love score is {score}")

Welcome to the Love Calculator
What is the name of the first personAlvin
What is the name of the second personLaura
Your love score is 23

Exercise 3:
Conditional statement exercise BMI version 2.0:

if BMI<= 18.5, underweight if 18.5<BMI <25, normal weight if 25<=bmi<30, overweight if 30<=BMI<35, obese if BMI>=35, clinicaly obese You can use fstring to print out the BMI value too.

Ctrl+Enter to execute code in a cell
Ctrl+m+b to add a new code cell

Note: This is the first line of code I will write in Python