<a href="https://colab.research.google.com/github/camerontruong/ARA-READABILITY/blob/main/ACF5510_Week_8_Thursday_6pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is notebook for week 8

In [3]:
print("Hello World. We are from ACF5510")

Hello World. We are from ACF5510

In [4]:
name = "Cameron Truong"
print(name)

Cameron Truong

In [6]:
name = input("What is your name? ")
print(len(name))

What is your name? Cameron Truong
14

In [7]:
welcome_message = "My name is " + name
print(welcome_message)

My name is Cameron Truong

Exercise: Group Name Generator: i) take the city where you live in, ii) take the pet name, and iii) print out the suggested group name as city + petname
Print "Welcome to the Group Name Generator."
Take input : "What's the name of the city you grew up in?"
Take input : "What's your pet's name?"
Print out "Your group name could be" + name of city + name of pet

In [9]:
print("Welcome to the Group Name Generator")
city = input("What's the name of the city you grew up in? \n")
pet = input("What's your pet's name? \n")
print("Your group name could be "+city+" "+pet)

Welcome to the Group Name Generator
What's the name of the city you grew up in?
Melbourne
What's your pet's name?
Russell
Your group name could be Melbourne Russell

String manipulation

In [18]:
name = "Cameron Truong is the chief examiner in ACF5510 semester 2 2021"
print(len(name))
print(name[0])
print(name[6])

63
C
n

In [16]:
print(name.index("C"))
print(name.index("ron"))

0
4

In [19]:
print(name.split(" "))

['Cameron', 'Truong', 'is', 'the', 'chief', 'examiner', 'in', 'ACF5510', 'semester', '2', '2021']

In [20]:
name = name.replace("Cameron", "Cam")
print(name)

Cam Truong is the chief examiner in ACF5510 semester 2 2021

In [24]:
name = "Cameron Truong is the chief examiner "
print(name[:3])
print(name[8:])
print(name[2:7])

Cam
Truong is the chief examiner
meron

In [25]:
name=name.upper()
print(name)

CAMERON TRUONG IS THE CHIEF EXAMINER

In [26]:
name = name.lower()
print(name)

cameron truong is the chief examiner

In [27]:
name = name.title()
print(name)

Cameron Truong Is The Chief Examiner

In [28]:
name = "Cameron Cameron Cameron cam Cam Truong teaches Python in colab"
print(name.count("Cameron"))

3

Data types Exercise: Instructions Write a program that adds the digits in a 2 digit number. e.g. if the input was 35, then the output should be 3 + 5 = 8

Warning. Do not change the code on lines 1-3. Your program should work for different inputs. e.g. any two-digit number.

Example Input 39 Example Output 3 + 9 = 12

Hints: string the input number, get the element, and intergeter it

In [33]:
two_digit_number = input("Type a two digit number: ")
first_digit=int(two_digit_number[0])
second_digit=int(two_digit_number[1])
sum=first_digit+second_digit

print(sum)
# type(two_digit_number)
# print(two_digit_number)

Type a two digit number: 54
9

In [37]:
pi = 3.00
type(pi)

float

BMI Calculator: Write a program that calculates the Body Mass Index (BMI) from a user's weight and height.

The BMI is a measure of some's weight taking into account their height. e.g. If a tall person and a short person both weigh the same amount, the short person is usually more overweight.

The BMI is calculated by dividing a person's weight (in kg) by the square of their height (in m):

https://cdn.fs.teachablecdn.com/jKHjnLrNQjqzdz3MTMyv

Warning you should convert the result to a whole number.

Example Input weight = 80 weight = 80 height = 1.75 height = 1.75 Example Output 80 รท (1.75 x 1.75) = 26.122448979591837

26 Hint Check the data type of the inputs. Try to use the exponent operator in your code. Remember PEMDAS. Remember to convert your result to a whole number (int).

BMI=weight/(height*height)

In [40]:
height = float(input("enter your height in m: "))
weight = int(input("enter your weight in kg: "))

bmi=round(weight/(height**2),2)
print(bmi)

enter your height in m: 1.76
enter your weight in kg: 72
23.24

Your life in days, weeks, months exercise: Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old.

It will take your current age as the input and output a message with our time left in this format:

You have x days, y weeks, and z months left.

Where x, y and z are replaced with the actual calculated numbers.

Warning your output should match the Example Output format exactly, even the positions of the commas and full stops.

Example Input 56 56 Example Output You have 12410 days, 1768 weeks, and 408 months left. You have 12410 days, 1768 weeks, and 408 months left.

In [46]:
age = int(input("What is your current age? "))
x = 32850 -age*365
y = 4680 -age*52
z = 1080 -age*12

print(f"You have {x} days, {y} weeks, and {z} months left.")

What is your current age? 22
You have 24820 days, 3536 weeks, and 816 months left.

Conditional Statement

In [55]:
student_age = int(input("What's students' age? "))
lecturer_age = int(input("What's lecturer's age?"))

if student_age<lecturer_age:
  print("Students are so young")
  print("It's wonderful to be young")
elif student_age>lecturer_age and student_age==50:
  print("Mid life crisis is coming")
elif student_age>lecturer_age:
  print(f"The sum of the ages is {student_age+lecturer_age}")
else:
  print("Students are so mature")
  print("Students must be corporate managers")

What's students' age? 51
What's lecturer's age?42
The sum of the ages is 93

Conditional statement exercise BMI 2.0 if BMI< 18.5, underweight if 18.5<=BMI <25, normal weight if 25<=bmi<30, overweight if 30<=BMI<35, obese if BMI>=35, clinicaly obese

In [58]:
height = float(input("enter your height in m: "))
weight = float(input("enter your weight in kg: "))

bmi = round(weight/(height**2),2)
if bmi<18.5:
  print(f"Your bmi is {bmi}, you are underweight")
elif bmi<25:
  print(f"Your bmi is {bmi}, you are normal weight")
elif bmi<30:
  print(f"Your bmi is {bmi}, you are overweight")
elif bmi<35:
  print(f"Your bmi is {bmi}, you are obese")
else:
  print(f"Your bmi is {bmi}, you are clinically obese")

enter your height in m: 1.76
enter your weight in kg: 120
Your bmi is 38.74, you are clinically obese

Love Calulator: You are going to write a program that tests the compatibility between two people.

To work out the love score between two people:

Take both people's names and check for the number of times the letters in the word TRUE occurs. Then check for the number of times the letters in the word LOVE occurs. Then combine these numbers to make a 2 digit number.

For Love Scores less than 10 or greater than 90, the message should be:

"Your score is x, you go together like coke and mentos."

For Love Scores between 40 and 50, the message should be:

"Your score is y, you are alright together."

Otherwise, the message will just be their score. e.g.:

"Your score is z."

Example Input 1 name1 = "Kanye West" name2 = "Kim Kardashian" Example Output 1 Your score is 42, you are alright together. Example Input 2 name1 = "Brad Pitt" name2 = "Jennifer Aniston" Example Output 2 Your score is 73.

In [64]:
print("Welcome to the Love Calculator")
name1 = input("What is your name? \n")
name2 = input("What is your crush' name? \n")
name1 = name1.lower()
name2 = name2.lower()

t = name1.count('t')+name2.count('t')
r = name1.count('r')+name2.count('r')
u = name1.count('u')+name2.count('u')
e = name1.count('e')+name2.count('e')

l = name1.count('l')+name2.count('l')
o = name1.count('o')+name2.count('o')
v = name1.count('v')+name2.count('v')
e = name1.count('e')+name2.count('e')

number1 = t+r+u+e
number2 = l+o+v+e

score =str(number1)+str(number2)
score=int(score)

if score<10 or score>90:
  print(f"Your score is  {score}, you go together like coke and mentos.")
elif score>40 and score<50:
  print(f"Your score is {score}, you are alright together.")
else:
  print(f"Your score is {score}.")


# print(score)

Welcome to the Love Calculator
What is your name?
True
What is your crush' name?
Love
Your score is 55.

true love