<a href="https://colab.research.google.com/github/camerontruong/ARA-READABILITY/blob/main/Pandas_Intro_V1_28JULY21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

*Object creation with pandas
*

In [ ]:
s = pd.Series([1,3,4, np.nan, 6,8])
s

In [ ]:
#Creating dataframe by passing a NumPy array, with datetime index and lablelled columns:
dates = pd.date_range("20140101", periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

In [ ]:
#Creating a DataFrame by passing a dic of objects that can be converted to series-like
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20140102"),
        "C": pd.Series(1, index=list(range(4)), dtype= 'float32'),
        "D": np.array([3]*4, dtype='int32'),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",  
     
    }
)

df2

VIEWING DATA

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(axis =0, ascending=False)

In [ ]:
df.sort_index(axis =1, ascending=False)

In [ ]:
df.sort_values(by = 'B')

SELECTION

In [ ]:
df.A

In [ ]:
#slice by rows
df[0:3]

In [ ]:
#selection by label
df.loc[dates[0]]

In [ ]:
#selct on a multi-axis by label:
df.loc[:,['A','B']]

In [ ]:
# select by position
df.iloc[3]

In [ ]:
df.iloc[0:2, 0:2]

In [ ]:
df.iloc[1:3,:]

In [ ]:
df.iloc[:,1:3]

In [ ]:
#getting exact value
df.iloc[1,1]

In [ ]:
#BOOLEAN indexing
df[df["A"]>0]

In [ ]:
df[df>0]

In [ ]:
# Using isin method
df2 = df.copy()
df2['E'] = ["one", "one","two", "three", "four", "three"]
df2

In [ ]:
df2[df2["E"].isin(["two","four"])]

SETTING

STAT

In [ ]:
df.mean()

In [ ]:
# on the other axis
df.mean(1)

In [ ]:
#APPLY
df.apply(np.cumsum)

In [ ]:
#concatenation
df = pd.DataFrame(np.random.randn(10,4), columns=list('ABCD'))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
pieces

In [ ]:
new=pd.concat(pieces)
new

In [ ]:
#JOIN
left =pd.DataFrame({'key':['foo','foo'], 'lval':[1,2]})
right =pd.DataFrame({'key':['foo','foo'], 'rval':[4,5]})
left
right

In [ ]:
merge = pd.merge(left, right, on ='key')
merge

In [ ]:
#GROUPING
df = pd.DataFrame(
    {
       "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
       "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
       "C": np.random.randn(8),
       "D": np.random.randn(8), 
    }
)
df

In [ ]:
df.groupby("B").sum()

In [ ]:
df.groupby(["A","B"]).sum()

In [ ]:
#PIVOT TABLE
In [101]: df = pd.DataFrame(
   .....:     {
   .....:         "A": ["one", "one", "two", "three"] * 3,
   .....:         "B": ["A", "B", "C"] * 4,
   .....:         "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
   .....:         "D": np.random.randn(12),
   .....:         "E": np.random.randn(12),
   .....:     }
   .....: )
   .....:

In [ ]:
df

In [ ]:
 pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])